@font-face {
    font-family : "osans_regular";
    src : url("fonts/osans/regular/font.eot");
    src : url("fonts/osans/regular/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/osans/regular/font.woff") format("woff"),
          url("fonts/osans/regular/font.ttf") format("truetype"),
          url("fonts/osans/regular/font.svg#osans_regular") format("svg");
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : "osans_bold";
    src : url("fonts/osans/bold/font.eot");
    src : url("fonts/osans/bold/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/osans/bold/font.woff") format("woff"),
          url("fonts/osans/bold/font.ttf") format("truetype"),
          url("fonts/osans/bold/font.svg#osans_regular") format("svg");
    font-weight : normal;
    font-style  : normal;
}