html {
  height : 100%;
  
  body {
    position   : relative;
    min-height : 100%;
    margin     : 0;
    font       : 0.9em arial;
    color      : #444;
  }
}
a {
  color : #0069FF;
  text-decoration : none;
}
@import "global/main";
@import "utils/main";
@import "head";
@import "content";
@import "footer";