.footer
  .menu
    %ul.left
      %li.logo
      %li.copyright
        %p
          © 2013 Andrew Aladjev
        %p
          :markdown
            Text is licensed under a [CC-BY-SA 3.0](http://creativecommons.org/licenses/by-sa/3.0/)
        %p
          :markdown
            [Code](https://github.com/andrew-aladev/jab) is licensed under a [GPLv3+](https://raw.github.com/andrew-aladev/jab/master/COPYING)
    %ul.right
      %li
        %a(href="/contact.html" title="Contact") Contact