.head
  .menu
    %ul.left
      %li.logo
        %a(href="/" title="Home")
      %li.search
        %form
          %input.query(type="text" placeholder="Search")
          %a.submit(title="")
    %ul.right
      %li.projects
        %a(href="http://git.puchuu.com" title="Projects") Projects
      %li.patches
        %a(href="/patches/" title="Patches") Patches
      %li.about
        %a(href="/contact.html" title="Contact") Contact
      %li.github
        %a(href="https://github.com/andrew-aladev" target="_blank" title="Github")
      %li.lor
        %a(href="https://www.linux.org.ru/people/punya/profile" target="_blank" title="Linux.org.ru")
