.head
  .menu
    %ul.left
      %li.logo
        %a(href="/" title="Home")
      %li.search
        %form
          %input.query(type="text" placeholder="Search")
          %a.submit(title="")
    %ul.right
      %li.about
        %a(href="/about.html" title="About") About
      %li.github
        %a(href="https://github.com/andrew-aladev" target="_blank" title="Github")
      %li.lor
        %a(href="https://www.linux.org.ru/people/punya/profile" target="_blank" title="Linux.org.ru")