.head
  %ul.menu.clearfix
    %li.logo
      %a(href="/" title="Home")
    %li.search
      %form.clearfix
        %input.query(type="text" placeholder="Search")
        %a.submit(title="")
    %li.lor
      %a(href="https://www.linux.org.ru/people/punya/profile" title="Linux.org.ru")
    %li.github
      %a(href="https://github.com/andrew-aladev" title="Github")