.head
  %ul.menu.clearfix
    %li.logo
      %a(href="/" title="Home")
    %li.search
      %form
        %input.query(type="text" placeholder="Search")
        %a.submit(title="")
    %li.lor
      %a(href="https://www.linux.org.ru/people/punya/profile" target="_blank" title="Linux.org.ru")
    %li.github
      %a(href="https://github.com/andrew-aladev" target="_blank" title="Github")
    %li.about
      %a(href="/about.html" target="_blank" title="About") About