.gag-overlay
  .gag
    %ul.browsers.gag-clearfix
      %li.firefox
        %a(title="firefox" href="https://www.mozilla.org/en-US/firefox/new/")
      %li.chrome
        %a(title="chrome" href="https://www.google.com/intl/en/chrome/")
      %li.opera
        %a(title="opera" href="http://www.opera.com/")
      %li.safari
        %a(title="safari" href="https://www.apple.com/safari/")
    %p Please install a web browser