- content_for :title, "Home page"
- content_for :description, "List of posts. First page."
- content_for :keywords, "posts"
- content_for :content do
  %ul.content
    %li
      .label
        %h1
          How to create full featured arm chroot environment in gentoo
        %p.date
          21.11.13
      .topic
        %p
          :markdown
            **Crossdev** in gentoo is a utility, that can create toolchain for **cross compilation**. But cross compilation has disadvantages:
        %ol
          %li You can't run compiled software if host processor does not support target arch.
          %li You should support toolchain build configuration for your program and for dependecies of your program, if it does not exist or broken.
        %p
          :markdown
            It is possible to avoid cross compilation by using chroot environment and emulator for target arch.
            For example [qemu emulator](http://wiki.qemu.org/Main_Page) has great support of **arm** arch.
        %a.more(href="/posts/arm-chroot.html") Read more