- content_for :title, "puchuu blog"
- content_for :description, "List of posts. First page."
- content_for :keywords, "blog, posts"
- content_for :content do
  %ul.content
    %li
      .label
        %h1
          How to use mips chroot environment in openwrt on TL-WDR4300.
        %p.date
          04.01.15
      .topic
        %p
          :markdown
            [TL-WDR4300](http://wiki.openwrt.org/toh/tp-link/tl-wdr4300) is very powerfull wireless router.
            I've bought it long time ago specially for openwrt.
            I've attached usb-hdd to it, added swap, /home partitions and started to use openwrt.
        
        %p
          :markdown
            I've found, that opkg is very buggy, package versions are very old, many applications have no packages.
            So I've continued to use openwrt with [image builder](http://wiki.openwrt.org/doc/howto/obtain.firmware.generate) and found it very stable.
            You can find my configuration [here](http://git.puchuu.com/my-routers/tree/).
            But I still wanted to use router as full featured gentoo box. I've found a free time today to implement this.
        %a.more(href="/posts/tl-wdr4300-chroot.html") Read more

    %li
      .label
        %h1
          How to force inline functions to work with all available C compilers, that supports inline keyword.
        %p.date
          30.06.14
      .topic
        %p
          Usage of inline functions is not so trivial as it should be.
        %a.more(href="/posts/inline-workaround.html") Read more

    %li
      .label
        %h1
          How to create aarch64 chroot environment in gentoo.
        %p.date
          15.05.14
      .topic
        %p
          There are some great news
        %ol
          %li
            :markdown
              [gcc 4.9](http://gcc.gnu.org/gcc-4.9/changes.html) have got many improvements for aarch64.
          %li
            :markdown
              [qemu 2.0](http://wiki.qemu.org/ChangeLog/2.0) have got support for aarch64 user-mode emulation.
        %p
          Lets create aarch64 chroot environment.
        %a.more(href="/posts/aarch64-chroot.html") Read more

    %li
      .label
        %h1
          How to create arm and mips chroot environment in gentoo.
        %p.date
          18.03.14
      .topic
        %p
          :markdown
            **Crossdev** in gentoo is a utility, that can create toolchain for **cross compilation**. But cross compilation has disadvantages:
        %ol
          %li You can't run compiled software if host processor does not support target arch.
          %li You should support toolchain build configuration for your program and for dependecies of your program, if it does not exist or broken.
        %p
          :markdown
            It is possible to avoid cross compilation by using chroot environment and emulator for target arch.
            For example [qemu emulator](http://wiki.qemu.org/Main_Page) has great support of **arm** and **mips** arch.
        %a.more(href="/posts/arm-and-mips-chroot.html") Read more
    
