.fb-comments.fb_iframe_widget {
    display : block;
}
.fb-comments.fb_iframe_widget span {
    display : block;
    width   : 100% !important;
}
.fb-comments.fb_iframe_widget iframe {
    width : 100% !important;
}
