@font-face {
    font-family : "osans_regular";
    src : url("fonts/osans/regular/font.eot");
    src : url("fonts/osans/regular/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/osans/regular/font.woff") format("woff"),
          url("fonts/osans/regular/font.ttf") format("truetype"),
          url("fonts/osans/regular/font.svg#osans_regular") format("svg");
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : "osans_bold";
    src : url("fonts/osans/bold/font.eot");
    src : url("fonts/osans/bold/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/osans/bold/font.woff") format("woff"),
          url("fonts/osans/bold/font.ttf") format("truetype"),
          url("fonts/osans/bold/font.svg#osans_bold") format("svg");
    font-weight : bold;
    font-style  : normal;
}
@font-face {
    font-family : "meslo_regular";
    src : url("fonts/meslo/regular/font.eot");
    src : url("fonts/meslo/regular/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/meslo/regular/font.woff") format("woff"),
          url("fonts/meslo/regular/font.ttf") format("truetype"),
          url("fonts/meslo/regular/font.svg#meslo_regular") format("svg");
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : "meslo_bold";
    src : url("fonts/meslo/bold/font.eot");
    src : url("fonts/meslo/bold/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/meslo/bold/font.woff") format("woff"),
          url("fonts/meslo/bold/font.ttf") format("truetype"),
          url("fonts/meslo/bold/font.svg#meslo_bold") format("svg");
    font-weight : bold;
    font-style  : normal;
}
@font-face {
    font-family : "meslo_italic";
    src : url("fonts/meslo/italic/font.eot");
    src : url("fonts/meslo/italic/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/meslo/italic/font.woff") format("woff"),
          url("fonts/meslo/italic/font.ttf") format("truetype"),
          url("fonts/meslo/italic/font.svg#meslo_italic") format("svg");
    font-weight : normal;
    font-style  : italic;
}
@font-face {
    font-family : "meslo_bolditalic";
    src : url("fonts/meslo/bolditalic/font.eot");
    src : url("fonts/meslo/bolditalic/font.eot?#iefix") format("embedded-opentype"),
          url("fonts/meslo/bolditalic/font.woff") format("woff"),
          url("fonts/meslo/bolditalic/font.ttf") format("truetype"),
          url("fonts/meslo/bolditalic/font.svg#meslo_bolditalic") format("svg");
    font-weight : bold;
    font-style  : italic;
}