@font-face {
    font-family : "meslo_regular";
    src : url("fonts/meslo/regular/font.woff") format("woff"),
          url("fonts/meslo/regular/font.ttf") format("truetype");
    font-weight : normal;
    font-style  : normal;
}
@font-face {
    font-family : "meslo_bold";
    src : url("fonts/meslo/bold/font.woff") format("woff"),
          url("fonts/meslo/bold/font.ttf") format("truetype");
    font-weight : bold;
    font-style  : normal;
}
@font-face {
    font-family : "meslo_italic";
    src : url("fonts/meslo/italic/font.woff") format("woff"),
          url("fonts/meslo/italic/font.ttf") format("truetype");
    font-weight : normal;
    font-style  : italic;
}
@font-face {
    font-family : "meslo_bolditalic";
    src : url("fonts/meslo/bolditalic/font.woff") format("woff"),
          url("fonts/meslo/bolditalic/font.ttf") format("truetype");
    font-weight : bold;
    font-style  : italic;
}