.gag-overlay {
  display    : none;
  position   : absolute;
  left       : 0;
  top        : 0;
  width      : 100%;
  height     : 100%;
  background : white;
  z-index    : 1;
  
  .gag {
    position : absolute;
    left     : 50%;
    top      : 50%;
    width    : 545px;
    height   : 190px;
    margin   : -95px 0 0 -200px;
    
    .browsers {
      margin  : 0;
      padding : 0;
      list-style-type : none;
      
      li {
        display : block;
        float   : left;
        
        a {
          display : block;
          width   : 133px;
          height  : 148px;
          cursor  : pointer;
        }
        
        &.firefox {
          margin-right : 10px;
          a {
            width  : global-sprite-width(firefox);
            height : 150px;
            @include global-sprite(firefox);
            @include global-sprite-position(firefox, 0, 12px);
          }
        }
        &.chrome {
          margin-right : 10px;
          a {
            width  : global-sprite-width(chrome);
            height : 150px;
            @include global-sprite(chrome);
            @include global-sprite-position(chrome, 0, 10px);
          }
        }
        &.opera {
          margin-right : 10px;
          a {
            width  : global-sprite-width(opera);
            height : 150px;
            @include global-sprite(opera);
            @include global-sprite-position(opera, 0, 11px);
          }
        }
        &.safari a {
          width  : global-sprite-width(safari);
          height : 150px;
          @include global-sprite(safari);
        }
      }
    }
    p {
      margin     : 15px 0 0 0;
      font-size  : 16px;
      text-align : center;
    }
  }
}
html.gag-visible {
  overflow : hidden;
  
  body {
    overflow : hidden;
    
    .head,
    .content,
    .footer {
      display : none;
    }
    .gag-overlay {
      display : block;
    }
  }
}

.gag-clearfix:before,
.gag-clearfix:after {
    content: "";
    display: table;
} 
.gag-clearfix:after {
    clear: both;
}
.gag-clearfix {
    zoom: 1;
}